@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blueclr: #00A7E2;
  --yellowclr: #FBAD18;
}

body {
  font-family: 'Roboto', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: rgb(54,171,135);
  border-radius: 0px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: rgb(215,254,200);
  border-radius: 0px;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(0,162,221);
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: rgb(217,238,250);
  border-radius: 4px;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
